.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container_cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;   
}

.cards_title h1 {
    font-size: 30px;
}

.card {
    background-color: rgba(207, 212, 217, 0.445);
    width: 200px;
    min-width: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    border-radius: 4px;
    position: relative;
    transition: 0.2s;
    bottom: 20px;
}

 .cards {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
 }
.cards_img img {
    width: 250px;
}
.cards_title {
    text-align: center;
}
.card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
.cards_top {
    flex: 0 0 228px;
}

.cards_bottom {
    flex: 1 0 auto;
    padding: 30px;
}

.cards_prices {
    display: flex;
    margin-top: 40px;
}

.cards_price {
    width: 50%;
    font-size: 17px;
    color: red;
}

.cards_price::after {
    content: "\20BD";
    margin-left: 4px;
}
.cards_btn {
    display: block;
    width: 50%;
   font-weight: 400;
    font-size: 17px;
    color: red;
    padding: 10px;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
}
.cards_btn:hover {
    background-color: red;
    color: #fff;
    cursor: pointer;
}

svg {
    width: 30px;
}

